<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Alter of Witness Chapel</title>
    <meta name="description" content="We Love God and We Love People. We live and serve">
    <meta name="author" content="Prophet Winnie Nganga">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/main.css">

    <!-- script
    ================================================== -->
    <script src="../js/modernizr.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="icon"  href="../logoRhema.jpg" type="image/x-icon">

</head>

<body id="top">

    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-jump">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>


    <!-- header
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <a class="site-logo" href="index.html">
                <img src="../logoRhema.jpg" alt="Homepage">
            </a>
        </div>

        <nav class="header-nav-wrap">
            <ul class="header-nav">
                 <li class="current"><a href="index.html" title="Home">Home</a></li>
                <li><a href="about.html" >About</a></li>
                <li><a href="program.html" title="program">program</a></li>
                <li><a href="resource.html" title="resource">resource</a></li>
                <li><a href="events.html" title="Services">Events</a></li>
                <li><a href="contact.html" title="Contact us">Contact</a></li>
            </ul>
        </nav>

        <a class="header-menu-toggle" href="#0"><span>Menu</span></a>

    </header> <!-- end s-header -->


    <!-- page header
    ================================================== -->
    <section class="page-header page-header--volunteer">

        <div class="gradient-overlay"></div>
        <div class="row page-header__content">
            <div class="column">
                <h1>Mission 2022-2027</h1>
                <h2>To Awaken and Equip the Church;<br>
                    To prepare God's people for Transformative Revival Where
                    we see the Spiritual Atmosphere of the Nation Changed and
                    One Million Souls brought to Christ.
                </h2>
            </div>
        </div>

    </section> <!-- end pageheader -->


    <!-- page content
    ================================================== -->
    <section class="page-content">

        <div class="row">
            <div class="column">

                <p class="lead drop-cap">
                    Rhema Missionary Outreach International (RMOI) is a Christian organization dedicated to evangelism, humanitarian aid, and community development on an international scale. Through preaching, teaching, and various forms of outreach, they spread the Christian gospel while also providing essential assistance to communities in need, including food aid, medical care, education, and disaster relief. RMOI aims to empower communities by establishing infrastructure projects like schools, healthcare facilities, and clean water systems, while also offering missionary training to individuals interested in spreading their mission. With a focus on international outreach, RMOI endeavors to make a positive impact in diverse regions worldwide,
                    contributing to the establishment and support of Christian communities and the betterment of society.
                </p>
                <br>

                <h2>KEY PIllARS</h2>
                
                <div class="row block-large-1-2 block-1000-full block-list">
                    <div class="column block-list__item">
                        <h4 class="block-list__title-with-num">protocols</h4>
                        <p>
                        <img src="../"
                        </p>
                    </div>
                    <div class="column block-list__item">
                        <h4 class="block-list__title-with-num">
                        Kids Church.
                        </h4>
                        <p>
                        Ullam tenetur ipsa et ratione nihil doloribus harum quas 
                        cupiditate. Minus sunt sequi sed minus est qui. Rerum molestias 
                        iusto. Sapiente consectetur nihil recusandae perferendis in 
                        magni perspiciatis at. Non modi ratione. Sit quaerat eaque sint. 
                        Eius natus inventore eveniet hic architecto tempora.
                        </p>
                    </div>
                    <div class="column block-list__item">
                        <h4 class="block-list__title-with-num">
                        Music Team.
                        </h4>
                        <p>
                        Dolor minus dolorem dolorem. Exercitationem recusandae est. 
                        Non ducimus amet voluptatum reiciendis non et sit et. Repellat 
                        quae dolores voluptatem fugiat error sit voluptas possimus 
                        cupiditate. Ea itaque facilis totam esse et veniam sit. 
                        Perspiciatis corrupti dolorem fugit ut eum et quos.
                        </p>
                    </div>
                    <div class="column block-list__item">
                        <h4 class="block-list__title-with-num">
                        Prayer Team.
                        </h4>
                        <p>
                        Aut autem voluptatem eius et et rerum aut ipsum. Impedit 
                        et expedita omnis minima veritatis. Totam praesentium 
                        praesentium quis. Sunt saepe quos quae ut ipsa asperiores. 
                        Laboriosam enim sunt distinctio voluptas iure corporis nihil 
                        reiciendis id. Et omnis qui aut ut voluptatem qui vel possimus eius.
                        </p>
                    </div>
                    <div class="column block-list__item">
                        <h4 class="block-list__title-with-num">
                        Administrative Support.
                        </h4>
                        <p>
                        Iusto ab quod corporis consequatur ut quia ea. Magnam error 
                        aliquid cupiditate. Maxime dolores voluptatem ab. Reiciendis 
                        ipsa dolores consequatur illum voluptatem repudiandae neque. 
                        Eius consequatur ea hic vero sequi magnam vel beatae provident.
                        Blanditiis quasi quia placeat pariatur in.
                        </p>
                    </div>
                    <div class="column block-list__item">
                        <h4 class="block-list__title-with-num">
                        Production Design.
                        </h4>
                        <p>
                        Aut sequi occaecati tempora voluptas quibusdam excepturi 
                        temporibus. Accusantium et autem dolor exercitationem voluptatem 
                        architecto quidem. Eligendi accusamus eos sunt sapiente voluptate 
                        eligendi. Quidem aliquid suscipit. Velit vitae amet a aliquam 
                        possimus veritatis quia placeat pariatur.
                        </p>
                    </div>
                    <div class="column block-list__item">
                        <h4 class="block-list__title-with-num">
                        Technical & Stage Management.
                        </h4>
                        <p>
                        Atque rerum repudiandae vel quaerat eos culpa sed modi ut. 
                        Porro accusantium alias voluptas quod. Ut repellendus odit 
                        perspiciatis dolore. Alias veritatis ducimus ratione non a. 
                        Iste omnis accusantium. Illum minus magni eveniet asperiores 
                        ipsum excepturi inventore sit eum.
                        </p>
                    </div>
                    <div class="column block-list__item">
                        <h4 class="block-list__title-with-num">
                        Communications.
                        </h4>
                        <p>
                        Est ut laboriosam aut quam facere. Tempora est sint ad repudiandae. 
                        Cupiditate velit repellat laudantium ut ut. Animi et quis.
                        Nemo in est animi veniam amet eveniet eos repellat et. Sed maxime 
                        dolor dolorum quos molestiae quidem voluptatibus optio officiis. 
                        Aut et minus. Aut iste at velit quia omnis in.
                        </p>
                    </div>
                </div> <!-- end block-list -->

                <h2>Yes, I want to Volunteer!</h2>
                <p>
                Thank you for serving with us as we honor God and make disciples. Please fill-up and send the form below.
                </p>
            </div>
        </div>

    </section> <!-- end page content -->


    <!-- Social
    ================================================== -->
    <section class="s-social">
            
        <div class="row social-content">
            <div class="column">
                <ul class="social-list">
                    <li class="social-list__item">
                        <a href="#0" title="">
                            <span class="social-list__icon social-list__icon--facebook"></span>
                            <span class="social-list__text">Facebook</span>
                        </a>
                    </li>
                    <li class="social-list__item">
                        <a href="#0" title="">
                            <span class="social-list__icon social-list__icon--twitter"></span>
                            <span class="social-list__text">Twitter</span>
                        </a>
                    </li>
                    <li class="social-list__item">
                        <a href="#0" title="">
                            <span class="social-list__icon social-list__icon--instagram"></span>
                            <span class="social-list__text">Instagram</span>
                        </a>
                    </li>
                    <li class="social-list__item">
                        <a href="#0" title="">
                            <span class="social-list__icon social-list__icon--email"></span>
                            <span class="social-list__text">Email</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div> <!-- end social-content -->

    </section> <!-- end s-social -->


    <!-- footer
    ================================================== -->
    <footer class="s-footer">

        <div class="row footer-top">
            <div class="column large-4 medium-5 tab-full">
                <div class="footer-logo">
                    <a class="site-footer-logo" href="index.html">
                       <h3>Alter of Witness Chapel</h3>
                    </a>
                </div>  <!-- footer-logo -->
                <p>
                Altar of Witness Chapel (AWC) is a Christian church located in Nyeri, Kenya.
                    The church's focus is on loving God and loving people.
                    They believe in serving their community and spreading the message of God's love and grace to all.
                    AWC provides a welcoming and inclusive environment for people of all backgrounds and walks of life to worship and grow in their faith.
                    The church offers various programs and ministries for children, youth, and adults to help them connect with God and each other.
                    At AWC, believers are encouraged to live out their faith and make a positive impact on the world around them
                </p>
            </div>
            <div class="column large-half tab-full">
                <div class="row">
                    <div class="column large-7 medium-full">
                        <h4 class="h6">Our Location</h4>
                        <p>
                        Rhema center,<br>
                            Ngangarithi  <br>
                       nyeri, Kenya<br>
                        </p>

                        <p>
                        <a href="https://maps.app.goo.gl/6Rgk4H4cTe8tnvjH8" target="_blank" class="btn btn--footer">Get Direction</a>
                        </p>
                    </div>
                    <div class="column large-5 medium-full">
                        <h4 class="h6">Quick Links</h4>
                        <ul class="footer-list">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="rhema.html">Volunteer</a></li>
                            <li><a href="wailingMothers.html">Connect Groups</a></li>
                            <li><a href="events.html">Upcoming Events</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                    <div class="column large-5 medium-full">
                        <h4 class="h6">connect with us</h4>
                        <ul class="footer-list">
                            <li><a href="#0">Like us on Facebook</a></li>
                            <li><a href="#0">Follow us on Twitter</a></li>
                            <li><a href="#0">Follow us on Instagram</a></li>
                            <li><a href="#0">Follow us on Youtube</a></li>
                             <li><a href="#0">Email us</a></li>
                        </ul>
                    </div>
                    <div class="column large-8 medium-full">
                        <h4 class="h6">Contact us</h4>
                        <ul class="footer-list">
                            <li><a href="#">Giving: Till No:879121</a></li>
                            <li><a href="#">Emails: awcchapel@gmail.com</a></li>
                            <li><a href="#">Office Number/text/Whatsapp:+25496002920</a></li>
                            <li><a href="https://maps.app.goo.gl/6Rgk4H4cTe8tnvjH8">Rhema center , Nyeri Kenya</a></li>
                        </ul>
                </div>
            </div>
        </div> <!-- end footer-top -->

        <div class="row footer-bottom">
            <div class="column ss-copyright">
                <span>© Copyright Alters Of Witness</span>
                <span>Design by <a href="https://www.styleshout.com/">StyleShout</a></span>
            </div>
        </div> <!-- footer-bottom -->

        <div class="ss-go-top">
            <a class="smoothscroll" title="Back to Top" href="#top">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0l8 9h-6v15h-4v-15h-6z"/></svg>
            </a>
        </div> <!-- ss-go-top -->

    </footer> <!-- end s-footer -->


    <!-- Java Script
    ================================================== -->

    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/plugins.js"></script>
    <script src="../js/main.js"></script>

</body></body>